
@font-face {
    font-family:Montserrat-Medium;
    src: url(../../vendors/fonts/Montserrat-Medium.otf)
}
@font-face {
    font-family:Montserrat-Regular;
    src: url(../../vendors/fonts/Montserrat-Regular.otf)
}
@font-face {
    font-family:Montserrat-Light;
    src: url(../../vendors/fonts/Montserrat-Light.otf)
}
/***************************/
h1, h2{
    font-family: Montserrat-Medium;
}
h3, h4{
    font-family: Montserrat-Regular;  
}
p{
    font-family: Montserrat-Light;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Montserrat-Light;
    margin:0px;
    padding:0px;
    background: url(../images/back_g.png) repeat;
    position: relative;
    }

a{
    text-decoration:none;
    color: #cccccc;
    transition: all ease 1s;
}
 a:active {
    color: #fff;
}
a:hover{
   transform: scale(1.05); 
}
   
img{
  /*height: 200px;
  width: 300px;*/
  object-fit: cover;
}
.logo img {
    height: 60px;
    width: 85px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
}
/*header */
header {
    background: #800000;
    color: #ffffff;
    padding: 10px;
    min-height: 70px;
    border-bottom: #000 3px solid;
    width: 100%;
    box-shadow: 0px 3px 5px grey;
}
/*all header links */
header a {
    color: #cccccc;
    text-decoration: none;
    font-size: 18px;
}


/*for list items themselves.  */
header li {
    display: inline;
    padding: 0px 10px;
}

header #branding{
  float:left;
}

header #branding h1 {
    margin-top: -50px;
    margin-left: 88px;
}
header nav {
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}

header .highlight, header .current a{
  color:#fff;
}

header a:hover{
  color:#fff;
  font-weight:bold;
}

/* END OF HEADER SECTION */
.landing-p {
    padding: 30px;
    border-radius: 20px;
    border: 5px solid gold;
    margin: 50px;
    min-height: 340px;
    display: flex;
}
.landing-p.record-details {
    padding: 30px;
    border-radius: 20px;
    border: 5px solid gold;
    margin: 50px;
    min-height: 340px;
    display: block;
}
.row-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-box a{
    background-color: transparent;
   display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #fff;
  padding: 0.3rem 0.55rem;
  font-size: 18px;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  width: 150px;
  color: #fff;
}
.row-box a:hover {
    background-color: #fff;
    color: #800000;
}

/*barner section*/
.barner {
    width: 43%;
    padding: 40px;
    background-color: #A52A2A;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #70753f;
    margin-left: auto;
    margin-right: auto;
    float: left;
    display: flex;
    margin-top: 16px;
}
.record-details .barner {
    padding: 40px;
    background-color: #A52A2A;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #70753f;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: flex;
    width: 90%;
}
.barner img {
    height: 300px;
    width: 600px;
    margin-top: -20px;
    margin-bottom: 30px;
}
.barner h1 {
    font-size: 23px;
    font-weight: 700;
    margin-top: -6px;
}
.barner h1, .barner p, .barner button {
    border-radius: 0;
    text-align: justify;
    margin-bottom: 30px;
    margin-top: -6px;
}
.barner .btn{
    border-radius: 0;
    margin:40px 30px;

}
@media(max-width: 768px){
    .barner{
        padding:30px;
        height:800px;
    }
    .barner img{
        width:90%;
        height: 100px;
        margin: 10px 0 0 10px;
        
    }
    .barner h1{
    font-size: 27px;
    font-weight: 400;
    padding-top: 10px;
        }
    .barner .btn{
    border-radius: 0;
    margin:20px 10px;
    font-size: 10px;

   }
   .barner p{
    font-size: 15px;
   }


}
/*END OF barner SECTION*/



/* TABLET */


#showcase {
    height: 200px;
    text-align: left;
    color: #ffffff;
    padding: 30px;
}
#showcase.reg {
    height: 200px;
    text-align: left;
    color: #ffffff;
    padding: 30px;
    display:block;
    margin-right: auto;
    margin-left: auto;
}
 .reg-main{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    margin-bottom: 40px;

}
.record .reg-main {
    width: 80%;
}
#showcase table{
    width: 93%;
}
.record #showcase table {
    width: 98%;
}
.record .label {
    width: 20%;
}
#showcase p {
    color: #222;
    font-size: 20px;
    text-align: center;
}
#inputImage1 {

    height: 20px;
    padding: 20px 0px;

}

.login-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 180px;
    min-height: 148px;
    background: #A52A2A;
    padding: 10px;
}
form textarea {

    width: 99%!important;
    height: 100px;
    padding: 10px;

}
.user-edit-form
{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 140px;
    min-height: 280px;
    background: #35424a;
    padding: 10px;
}
.admin-panel h2 {
    text-align: center;
    margin-top: -10px;
}
.adminupdate-form
{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 120px;
    min-height: 120px;
    background: #35424a;
    padding: 10px;
}
.signup-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 120px;
    min-height: 200px;
    background: #A52A2A;
    padding: 10px;
    height: 260px;
}
.record.create .signup-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 120px;
    min-height: 200px;
    background: #A52A2A;
    padding: 10px 30px 60px;
    height: 260px;
}
.record.create .signup-form {
    height: auto;
}
.landing-p.admin .signup-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 0px;
    margin-bottom: 120px;
    min-height: 150px;
    background: #A52A2A;
    padding: 10px;
    height: 150px;
}

.form-control {
    width: 100%;
    background: none;
    color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 0px;
    margin: 5px 0px 5px 0px;
    border: 2px solid white;
    text-align: left;
    
}
#login.button1 {
    height: 30px;
    background: transparent;
    border-radius: 0.5px;
    border: 0;
    color: #ffffff;
    float: left;
    margin-left: 33%;
    font-weight: bold;
    width: 100px;
    border: 2px solid #ffff;
}

#register.button1 {
    height: 30px;
    background: transparent;
    border-radius: 0.5px;
    border: 0;
    color: #ffffff;
    float: left;
    margin-left: 46%;
    font-weight: bold;
    width: 100px;
    border: 2px solid #ffff;
}
.record.create #register.button1 {
    height: 30px;
    background: transparent;
    border-radius: 0.5px;
    border: 0;
    color: #ffffff;
    float: left;
    margin-left: 20%;
    font-weight: bold;
    width: 100px;
    border: 2px solid #ffff;
    margin-top: 10px;
}
.landing-p.admin{
    height: 300px;
    padding-top: 70px;
}
.landing-p.record{
    height: 300px;
    padding-top:0px;
}
.landing-p.record.create {
    height: auto;
    padding-top: 0px;
}
.landing-p.admin #register.button1 {
    height: 30px;
    background: transparent;
    border-radius: 0.5px;
    border: 0;
    color: #ffffff;
    float: left;
    margin-left: 41%;
    font-weight: bold;
    width: 100px;
    border: 2px solid #ffff;
}
.button1:hover{
    background-color: #fff;
    color: #800000;
}
#myTable img{
    height: 100px;
    width: 100px;
    object-fit: cover;
}

footer {
    padding: 20px;
    color: #ffffff;
    background-color: #800000;
    text-align: center;
    width: 100%;
    margin-top: 30px;
}


/*USER  PAGE STYLING*/

.col-1 {
    width: 8.33%;
    float: left;
}
.col-2 {
    width: 16.66%;
    float: left;
}
.col-3 {
    width: 25%;
    float: left;
}
.col-4 {
    width: 33.33%;
    float: left
}
.col-5 {
    width: 41.66%;
    float: left;
}
.col-6 {
    width: 50%;
    float: left;

}
.col-7 {
    width: 58.33%;
    float: left;
}
.col-8 {
    width: 66.66%;
    float: left;
    padding-bottom:20px;
}
.col-9 {
    width: 75%;
    float:left;
}
.col-10 {
    width: 83.33%;
    float: left;
}
.col-11 {
    width: 91.66%;
    float: left;

}
.col-12 {
    width:100%;
    float:left;
}
.login-form.col-4{
    float: right;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* the table styling */
#myTable {
    border-collapse: collapse;
    font-size: 15px;
    display: block;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#myTable td {
    text-align: left;
    padding: 12px;
    border: 2px solid #800000;
}
#myTable th {
    text-align: center;
    padding: 12px;
    color: #fff;
    background-color: #A52A2A;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #800000;
}
#myTable tr {
    border-bottom: 2px solid #800000;
}
/* the styling for the content */
.content{
    padding-left: 50px;
    padding-right: 50px;
}
.buttonReject {
    background: red;
    border-radius: 0px;
    border: 0;
    padding: 6px 6px;
    color: #ffffff;
    width: 90%;
    float: right;
    margin-top: 20px;
    text-align: center;
    
}
.buttonReject:hover {
   box-shadow: 1px 1px 3px grey; 
}
.buttonInvest {
    background: orange;
    border-radius: 0px;
    border: 0;
    padding: 6px 6px;
    color: #ffffff;
    width: 90%;
    float: right;
    margin-top: 20px;
    text-align: center;
}
.buttonInvest:hover {
   box-shadow: 1px 1px 3px grey; 
}
.buttonResolve {
    background: #00DED1;
    border-radius: 0px;
    border: 0;
    padding: 6px 6px;
    color: #ffffff;
    width: 90%;
    float: right;
    margin-top: 20px;
    text-align: center;
}
.buttonResolve:hover {
   box-shadow: 1px 1px 3px grey; 
}
.buttonView {
    background: #1E90FF;
    border-radius: 0px;
    border: 0;
    padding: 6px 6px;
    color: #ffffff;
    width: 90%;
    float: right;
    margin-top: 20px;
    text-align: center;
}
.buttonView:hover {
   box-shadow: 1px 1px 3px grey; 
}
.map-cordinates{
    width: 100%;
    padding: 6px;
    background: transparent;
    border:2px solid #fff;
    color: #fff;
}
.gm-style .gm-style-iw {
    color: #000!important;
}